div.side { display: none; }
div.thing { display: block; }
section.infobar { display: none !important; }
.email-collection-banner { display: none !important; }
.NERPageMarker { display: none !important; }
div.nav-buttons { margin-top: 1rem; }

div.content {
  margin: 1%; 
  width: 98%;
}

.grid-definitions {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.gallery-item-container {
  display: block;
  opacity: 0;
  padding: 1px;
  z-index: 0;
  width: 100%;
}

.visible {
  opacity: 1;
  transition: all 1s;
  -webkit-transition: all 1s;
}

.gallery-item-container:hover {
  z-index: 1;
}

.gallery-item {
  background-color: #222;
  outline: 1px solid rgb(125, 125, 125);
}

.gallery-item-card:nth-child(2n) .gallery-item {
  background-color: black;
}

.gallery-item-details {
  margin-top: 0;
  padding: 5px;
  padding-top: 7px;
  color: white;
}

.gallery-text-item {
  padding: 5px;
}

.gallery-item-video {
  padding: 0;
  margin: 0;
}

.gallery-item-author {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 3px;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-overflow: ellipsis;
  color: white;
  display: block;
  /* overflow-wrap: break-word; */
}

.gallery-item-author-block {
  display: none;
  margin: -2px;
}

.gallery-item-author:hover .gallery-item-author-block {
  display: inline;
}

.gallery-item-subreddit {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-overflow: ellipsis;
  color: white;
  display: block;
  /* overflow-wrap: break-word; */
}

.gallery-item-comments {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-overflow: ellipsis;
  color: white;
  display: block;
  /* overflow-wrap: break-word; */
}

.gallery-item-timestamp {
  font: 1em sans-serif;
}

img {
  /* display: block; */
  width: min(320px, 100%);
  max-height: 240px;
  object-fit: contain;
  background-color: #111;
}

video {
  display: block;
  width: min(320px, 100%);
  max-height: 240px;
  object-fit: contain;
  background-color: #111;
  animation-play-state: paused;
}

.content a:link,.content a:active,.content a:visited,.content a:focus,.content a:hover {
  text-decoration: none !important;
  color: white;
}