div.side { display: none; }
div.thing { display: none; } 
section.infobar { display: none !important; }
.email-collection-banner { display: none !important; }
.NERPageMarker { display: none !important; }
/* div.nav-buttons { display: none; } */

div.content {
  margin: 1%; 
  width: 98%;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* grid-template-columns: repeat(auto-fill, max-content);  */
  grid-template-rows: repeat(auto-fill, max-content);  
  margin-bottom: 1em;
}

.content a:link,.content a:active,.content a:visited,.content a:focus,.content a:hover {
  text-decoration: none !important;
  color: white;

}

.gallery-item {
  background-color: black;
  outline: 1px solid rgb(125, 125, 125);
}

.gallery-item-details {
  margin-top: 0;
  padding: 5px;
  padding-top: 7px;
  color: white;
}

.gallery-text-item {
  padding: 5px;
}

.gallery-item-video {
  padding: 0;
  margin: 0;
}

.gallery-item-title {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-overflow: ellipsis;
  color: white;
  display: block;
  /* overflow-wrap: break-word; */
}

.gallery-item-timestamp {
  font: 1em sans-serif;
}

.gallery-item-domain {
  margin: 0;
  padding: 0;
  text-align: center;
}

.gallery-item-domain a {
  font-size: 10px;
  font-weight: bold;
  color: red;
  font-style: italic;
  text-align: center;
}

img {
  object-fit: cover;
  width: 100%;
}

video {
  object-fit: cover;
  width: 100%;
  animation-play-state: paused;
}

